name: CI
on: [push]

jobs:
  build:
    name: Build, lint, and test on Node ${{ matrix.node }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ['16.x', '18.x']
        os: [ubuntu-latest]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Install deps and build
        run: npm install
        env:
          NODE_OPTIONS: --max_old_space_size=4096

      - name: Build
        run: npm run generate
        env:
          NODE_OPTIONS: --max_old_space_size=4096

      - name: Build
        run: npm run build
        env:
          NODE_OPTIONS: --max_old_space_size=4096
