name: Publish Package
on:
  release:
    types: [created]

permissions:
  contents: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        with:
          version: 9
          run_install: false
          cache: true

      - name: Install Dependencies
        run: pnpm install
        env:
          NODE_OPTIONS: --max_old_space_size=8192

      - name: Publish Package
        run: pnpm publish --no-git-checks
        env:
          NODE_OPTIONS: --max_old_space_size=8192
