name: Publish Package

on:
  release:
    types: [created]

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: "pnpm"

      - run: pnpm install
        env:
          NODE_OPTIONS: --max_old_space_size=8192

      - run: pnpm publish --no-git-checks
        env:
          NODE_OPTIONS: --max_old_space_size=8192
